{
  "presets": ["es2015"],
  "plugins": ["c-3po"],
  "env": {
    "extract": {
        "plugins": [
            ["c-3po", { "extract": { "output": "extract.pot" } }]
        ]
    },
    'resolve-uk': {
        "plugins": [
            ["c-3po", {"resolve": { "translations": "uk.po" }}]
        ]
    },
    'resolve-default': {
        "plugins": [
            ["c-3po", {"resolve": { "translations": "default" }}]
        ]
    }
  }
}